<!DOCTYPE html>
<html>
  <head>
    <title>Brandeis SAA</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <base href="/" />
  </head>
  <body>
    <header>
      <img class="header" src="/images/BrandeisLogo.png" alt="Brandeis Logo" />
      <div class="header">
        <h1>Brandeis University</h1>
        <h3>Student & Alumni Association</h3>
      </div>
    </header>
    <nav id="mynave">
      <a href="index">Home</a>
      <a href="about">About</a>
      <a href="jobs">Jobs</a>
      <a href="events">Events</a>
      <%- include('events/_eventsModal') %>
      <a href="contact">Contact</a>
      <% if (loggedIn) { %>
      <a href="<%=`/users/${currentUser._id}`%>"> <%= currentUser.name %></a>
      <a href="/users/logout">Log out</a>
      <%} else {%>
      <a href="/users/login">Sign In</a>
      <a href="/users/new">Sign Up</a>
      <% } %>
    </nav>
    <div class="flashes">
      <% if (flashMessages) { %> <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
      <% } else if (flashMessages.error) { %>
      <div class="flash error"><%= flashMessages.error %></div>
      <% } %> <% } %>
    </div>
    <%- body%>
    <footer>
      <p id="footer">@2023 Brandeis University</p>
      <div class="icons">
        <a
          href="https://www.facebook.com/brandeisuniversity/"
          class="fa fa-facebook"
        ></a>
        <a
          href="https://www.instagram.com/brandeisuniversity/"
          class="fa fa-instagram"
        ></a>
        <a
          href="https://www.linkedin.com/school/brandeis-university/"
          class="fa fa-linkedin"
        ></a>
        <a
          href="https://www.youtube.com/BRANDEISUNIVERSITY"
          class="fa fa-youtube"
        ></a>
        <a href="https://twitter.com/BrandeisU/" class="fa fa-twitter"></a>
      </div>
    </footer>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/busaaApp.js"></script>
  </body>
</html>
